/* --------------------------------- GENERAL --- */
* {
    outline: 1px solid rgba(255, 0, 0, 0.37);
}
body {
    margin: 0;
    padding: 0;
}
/* ---------------------------------- HEADER --- */
header {
    background: url(../image/large.jpg) no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 600px;
    color: #fff;
}

/*header .frase h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    padding: 0 140px;
} */
header .banner {
    background: rgba(75, 134, 247, 0.78);
    padding: 25px 0;
}
/* ------------------------------- SERVICIOS --- */
.icon-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    box-shadow: -2px  2px 10px rgba(0,0,0,0.2);
    border-radius: 100%;
    color: skyblue;
}
/* ------------------------------- GENERAL --- */
/* ------------------------------- GENERAL --- */
/* ------------------------------- GENERAL --- */