@media screen and (max-width:768px)
{
	.banner-info {
		text-align:center;
		margin-bottom: 15px;
	}
	.fondo .frase {
		margin: 70px 0;
	}
	.frase h1 {
		font-size: 20px;
	}
    .servicios .container h4 {
        padding-top: 30px;
    }
    .servicios .row {
        margin: 30px 0;
    }
    .servicios h5 {
        padding: 0;
    }
    .servicios p {
        margin-bottom: 30px;
    }
    .uso {
        margin: 70px 0 30px 0;
    }
    .uso p, .uso ul li, footer p {
        font-size: 15px;
    }
    footer .banner button {
        margin-top: 0px;
    }
}
@media screen and (max-width:999px)
{
	.pie {
		padding: 0 20px;
	}
	.pie .izquierda p {
    	margin: 0 auto;
    	text-align: center;
    }
    .pie .izquierda a {
    	text-align: center;
    	display: block;
    }
    .pie .derecha p {
    	text-align: center;
    	display: inline-block;
    }
    .pie .derecha span {
    	display: block;
    	text-align: center;
    }
	.icon-blue {
		margin-left: -65px;
	}
	.pasos .right {
		background: none;
	}
	.pasos .row {
		background-size: cover;
	}
	.pasos .pasos-info {
		margin: 20px;
		border-radius: 10px;
		box-shadow: 2px 2px 20px rgba(0,0,0,0.8);
		padding: 5px 20px 5px 40px;
	}
}

@media screen and (max-width:999px) and (min-width:768px) {
	.fondo .row>div	{
		text-align: center;
	}
	.fondo .row>div .img-responsive	{
		display: inline-block;
	}
	.desktop-menu {
		text-align: center;
	}
}
